/*POLICES*/
@font-face {
    font-family: 'theblacklist';
    src : url('../fonts/theblacklist.ttf') format('truetype');
}

/* pour prendre tout l'espace de l'ecran */
*, ::before, ::after { 
    box-sizing: border-box; 
    padding: 0; 
    margin: 0; 
} 

/* pour le dégradé */
.header{
    background: linear-gradient(#ff3852,rgb(245, 245, 11));
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
/* pour que les titre sois centré */
.titre{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/* le hn*/
h1{
    font-family: 'theblacklist', Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: center;
    font-size: 40px;
    
}
/* pour la ligne sous le h1 */
.t{
    height: 5px;
    width: 75px;
    background-color: #fff;
    border-radius: 5%;
}

.header-titre2{
    text-align: center;
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    
}
/* h2 */
h2{
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family:Arial, Helvetica, sans-serif;

}

/* je modifie la taille du logo */
.img-logo img{
    width: 70px;
    height: 70px;
    margin-top: 5px; 
    margin-bottom: 5px; 
}

.menu ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin: 15px 0;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;

}
/* pour centré le menu */
 .menu{
    display: flex;
    justify-content: center ;
    align-items:center;

} 
/* la ligne rouge  */
.t-rouge{
    background-color: rgb(240, 15, 15) ;
    width: border-box;
    height: 2px;
    margin:0;
}

/* pour tout les titres des cathegorie  */
.bvn{
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}
/* pour que les text soit centré et est la bonne police */
.txt{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* pour centré la galerie */
.galerie{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/* figure */
.items{
    display:flex;
    flex-direction: column;
}
/*  pour center les img */
.items img{
    width: 300px;
    height: 200px;
    max-height: 230px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 1px 2px 5px ;
    margin-top:40px ;
}
/* pour les cadre et legende sous les img */
.txt-img{
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    background-color: #ff3852;
    color: #fff;
    padding: 0.5rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 2px 5px;
}
/* pour l'encadré */
.contact{
    text-align: center;
    padding: 2.5rem;
    border: 2px solid #ff3852;
    border-radius:10px;
    margin: 15px;
}
/* pour la police et pour center le text dans l'encadré */
.contact p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
/* pour center le text et mettre la couleur en font  */
footer{
    text-align: center;
    background-color: #ff3852;

}
/* pour la police du footer */
footer p{
    font-family: Arial, Helvetica, sans-serif;
}